* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

    .container {
        padding: 20px 50px;
        background-color: white;
        border-radius: 5px;

    }

    #data {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000080;
    }
 

    input {
        margin-top: 10px;
        padding-left: 10px;
        height: 35px;
    }

    #datalist {
        height: 35px;
        margin-top: 10px;
        padding-left: 10px;
    }

    #btn {
        align-items: center;
        margin-top: 10px;
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold", sans-serif;
        font-size: 16px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .btn:active {
        outline: 0;
    }

    .btn:hover {
        outline: 0;
    }

    .btn span {
        transition: all 200ms;
    }

    .btn:hover span {
        transform: scale(.9);
        opacity: .75;
    }

    @media screen and (max-width: 991px) {
        .btn {
            font-size: 15px;
            height: 50px;
        }

        .btn span {
            line-height: 50px;
        }
    }

    button:hover {
        background-color: rgb(11, 152, 32);
        transform: scale(1.02);
    }

    .transactions {
        margin-top: 20px;
        padding: 25px;
        background-color: rgba(177, 176, 176, 0.21);
        border-radius: 10px;

        h2 {
            font-size: 1.6em;
            font-family: Arial, Helvetica, sans-serif;
            color: #DC143C;
        }

        .sum {
            margin-top: 15px;
        }

        p {
            font-size: 1.1em;
        }
    }

    .delete-btn {
        background-color: #0078d0;
        border: 0;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
        font-size: 15px;
        font-weight: 600;
        outline: 0;
        padding: 5px 8px;
        margin: 5px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .delete-btn:before {
        background-color: initial;
        background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
        border-radius: 125px;
        content: "";
        height: 50%;
        left: 4%;
        opacity: .5;
        position: absolute;
        top: 0;
        transition: all .3s;
        width: 92%;
    }

    .delete-btn:hover {
        box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        transform: scale(1.05);
    }

    @media (min-width: 768px) {
        .delete-btn {
            padding: 16px 48px;
        }
    }
}

.delete-btn:hover {
    background-color: rgb(16, 180, 186);
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.summary{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    color: #000080;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0px 1.3%;
    }
}